/*! ================================================================================================
*** LEGACY CSS for the ASCC Website
*** ================================================================================================
***   AUTHORS: Unknown.
***
***   SUMMARY: CSS code that was written for version 1 of the ASCC website before contributions made
***   by Daniel Rieck started on 8/2017. Should be eventually removed or incorporated into updated
***   design files.
*** ================================================================================================
**/

/**  ───────────────────────────────────────────────────────────────────────────────────────────────
***  TABLE OF CONTENTS:
***  ────────────────────────────────────────────────────────────────────────────────────────────
***  §1: Site-wide sizing & spacing overrides..................................................37
***  §2: Section overrides.....................................................................84
***  §3: Sectional article headers............................................................144
***  §4: Article taglines & intro text........................................................257
***  §5: Article sidebars.....................................................................315
***  §6: Tables of Conents....................................................................356
***  §7: Asides...............................................................................423
***  §8: Sidebar Right Sections...............................................................441
***  §9: Styling specific to the Career Exploration Abroad page...............................485
***  §10: Styling of glass buttons............................................................649
***  §11: Styling of main header construct....................................................750
***  §12: Gravity forms.......................................................................758
***  §13: ASCC version 2.0 slideshows.........................................................806
***  §14: Legacy ASCC fixes...................................................................921
***  §15: ASCC version 2.0 body...............................................................945
***  §16: TO BE REMOVED: Temporarily copied from WSU-UE---CSS.................................964
***  §17: ASCC version 2.0 sub-columns........................................................982
***  §18: Helpful links tables...............................................................1000
***  ───────────────────────────────────────────────────────────────────────────────────────────────
**/

/** ================================================================================================
*** §1: Site-wide sizing & spacing overrides
**/

body {
	font-size: 100%;
}

body.has-normal-line-spacing {
	font-size: 16px;
	p {
		.line-height(@lHeight-1000mx);
		padding-bottom: 0;
	}
	ul:not(.gform_fields):not(.gfield_radio):not(.gfield_checkbox),
	ol {
		li {
			.line-height(@lHeight-1000mx);
			padding-bottom: 0;
		}
		& > li:not(:first-child) {
			margin-top: 0.3em;
		}
	}
	* + h1,
	* + h2,
	* + h3,
	* + h4,
	* + h5,
	* + h6 {
		margin-top: (@v-btm-mrgns / 2);
	}
	:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
		& + p {
			margin-top: @v-btm-mrgns;
		}
		& + ul,
		& + ol {
			margin-top: 0.3em;
		}
	}
}

body.has-improved-contrast {
	color: @hex-darker-gray;
}

/** ================================================================================================
*** §2: Section overrides
**/

.row {
	&.single,
	&.halves {
		&:last-child .column {
			padding-bottom: @v-dflt-spcng;
		}
	}
	&.halves {
		background: rgba(255,255,255,.95);
		.column {
			background: transparent;
		}
	}
}

.sub-row {
	.fluid .row &.row {
		.column {
			padding: 0;
			margin: 0;
			background: none;
			@media all {
				@media (max-width: @column-floating-threshold) {
					width: 100%;
				}
			}
			& + .column {
				@media all {
					@media (max-width: @column-floating-threshold) {
						margin-top: (@v-dflt-spcng / 2);
					}
				}
			}
		}
		&.side-right,
		&.halves {
			.column {
				&.one {
					@media all {
						@media (min-width: (@column-floating-threshold + 1)) {
							padding-right: (@v-dflt-spcng / 2);
						}
					}
				}
				&.two {
					@media all {
						@media (min-width: (@column-floating-threshold + 1)) {
							padding-left: (@v-dflt-spcng / 2);
						}
					}
				}
			}
		}
	}
}

/** ================================================================================================
*** §3: Sectional article headers
**/

.row.halves.article-header,
.row.single.article-header {
	position: relative;
	&.gutter .column:not(.gutterless) {
		padding-left: 0;
		padding-right: 0;
	}
	&.pad-top .column {
		padding-top: 0;
	}
}
.row.halves.article-header {
	height: 230px;
	.column {
		&.one {
			position: absolute;
			right: 40%;
			left: 0;
			width: auto;
			height: 100%;			
			padding-left: 0;
			padding-right: 0;			
			background: @hex-accent-blue;
			header,
			.article-name,
			.wrapper {
				&:first-child {
					position: absolute;
					top: 50%;
					right: @v-dflt-spcng;
					left: @v-dflt-spcng;
					.transform(~"translateY(-50%)");
					@media all and (max-width: @column-floating-threshold) {
						right: (@v-dflt-spcng / 2);
						left: (@v-dflt-spcng / 2);
					}
				}
			}
			.article-name {
				margin-top: 0;
				color: @hex-white;
				@media all and (max-width: @column-floating-threshold) {
					font-size: 6.5vw;
				}
			}
			.article-location {
				padding-bottom: 0;
				margin-bottom: 0.125em;
				color: @hex-bright-gray;
				@media all and (max-width: @column-floating-threshold) {
					font-size: 3.25vw;
				}
			}
			& > :not(header:first-child):not(.wrapper):not(.article-name):not(.article-location) {
				display: none;
			}
		}
		&.two {
			position: absolute;
			right: 0;
			left: 60%;
			width: auto;
			height: 100%;
			background-color: @hex-gray;
			background-position: center center;
			background-size: cover;
		}
		&.one, &.two {
			@media all and (max-width: @column-floating-threshold) {
				float: left;
				clear: none;
			}
		}
	}
}
/*.row.single.article-header {
	height: 340px;
	.column {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: @hex-gray;
		background-position: center center;
		background-size: cover;
		&.show-header > header {
			box-sizing: border-box;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			padding: 2rem 2rem 0;
			@media all {
				@media (max-width: @large-mobile-screen-width) {
					padding-left: .5rem;
				}
			} 
			& > * {
				@v-fnt-sclng-hdr: 1.0, 1.0, 1.0, 1.0, 0.814286, 0.714286;
				color: @hex-white;
				margin: 0;
				.has-responsive-font(3.5rem, 0.9em, @v-fnt-sclng-hdr);
				& { text-shadow: 1px 1px 2px @rgba; .getRgbaStr(@hex-black, 0.5); }
			}
		}
	}
}*/

/** ================================================================================================
*** §4: Article taglines & intro text
**/

.article-tagline {
	.has-sectionally-responsive-font(@v-artcl-tgln-sz, extract(@lHeight-array, @lHeight-1000mx));
	&.home {
		.has-sectionally-responsive-font((@v-artcl-tgln-sz * 1.310345), extract(@lHeight-array, @lHeight-1000mx));
	}
	.column & {
		.has-subst-font.serif;
		font-size: @v-artcl-tgln-sz;
		line-height: @v-artcl-tgln-lnhght;
		font-weight: @v-artcl-tgln-wght;
	}
	.column &.sans {
		&:extend(.has-alt-font);
		color: @hex-black;
		font-weight: 300;
		// letter-spacing: 0.5px; // Removed on 2016-06-10 to improve readability of text.
		& > span.lead-in {
			color: @hex-dark-blue;
			font-weight: 700;
			letter-spacing: normal;                    
		}
	}
	&:not(.has-no-bordering) {
		.has-pull-quote-bordering(@hex-darker-gray);
		&:not(.alt) {
			.column h1 + &,
			.column h2 + &,
			.column h3 + &,
			.column h4 + &,
			.column h5 + &,
			.column h6 + & {
				margin-top: (@v-btm-mrgns * 4 / 3);
			}
		}
		&.crimson {
			.has-pull-quote-bordering(@hex-crimson);
			color: @hex-crimson;
			.has-gray-text {
				color: @hex-darker-gray;
			}
		}
	}
	&.bold {
		font-weight: bold;
	}
	& + * {
		margin-top: (@v-dflt-spcng / 2);
	}
}

.intro-text {
	.has-sectionally-responsive-font((@v-artcl-tgln-sz * .85), extract(@lHeight-array, @lHeight-1000mx));
}

/** ================================================================================================
*** §5: Article sidebars
**/

.sidebar {
	@spacing: @v-dflt-spcng / 4;
	@header-padding: 0.5em;
	@border-width: 4px;
	@text-color: #646464;
	padding: @spacing;
	border-left: @border-width solid @hex-gray;
	background: @hex-bright-gray;
	color: @text-color;
	& > h1:first-child,
	& > h2:first-child,
	& > h3:first-child,
	& > h4:first-child,
	& > h5:first-child,
	& > h6:first-child,
	& > header:first-child > * {
		box-sizing: content-box;
		width: 100%;
		width: ~"calc(100% + @{border-width})";
		padding: @header-padding (@header-padding / 2);
		margin-top: (-1 * @spacing);
		margin-left: (-1 * @spacing);
		margin-bottom: @spacing;
		background-color: @hex-crimson;
		color: @hex-white;
	}
//	font-size: 0.9rem;
//	@media all {
//		@media (max-width: (@column-floating-threshold)) {
//			width: 94%;
//			width: ~"calc(100% - @{spacing} * 2)";
//			margin-top: @spacing * 2;
//			margin-bottom: @spacing * 4;
//		}
//	}
}

/** ================================================================================================
*** §6: Tables of Conents
**/

#on-this-page {
	@otp-background: #2f3438;
	@highlight-color: #23272a;
	background-color: @otp-background;
	.column {
		background-color: inherit;
	}
	h2 {
		color: @hex-white;
		padding-left: @v-dflt-spcng;
		padding-bottom: (@v-dflt-spcng / 3);
		font-size: 1.7rem;
	}
	ul {
		margin: 0;
		padding: 0;
		overflow: hidden;
		border-top: 1px solid @otp-background;
		border-left: 1px solid @otp-background;
		background-color: inherit;
		list-style-type: none;
	}
	li {
		float: left;
		margin-top: 0 !important;
		list-style-image: none;
		padding: 0;
		a {
			display: inline-block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			border-right: 1px solid @otp-background;
			border-bottom: 1px solid @otp-background;
			border-radius: 0;
			background-color: @hex-darker-gray;
			box-shadow: none;
			&:hover {
				border-color: @otp-background;
				background-color: @highlight-color;
				text-shadow: none;
			}
			@media all and (max-width: @tablet-screen-width) {
				padding: 8px 10px;
			}
		}
	}
}

.back-to-otp {
	position: relative;
	padding-left: 1rem;
	font-size: 0.9em;
	&:before {
		content: "";
		position: absolute;
		width: 1rem;
		left: -3px;
		height: .9rem;
		background: url(https://s3.wp.wsu.edu/uploads/sites/167/2017/09/micon_returnKey_rotated-90-deg-cw_54x64.png) center center/auto 100% no-repeat;
	}
}

/** ================================================================================================
*** §7: Asides
**/

.page.cea {
	#experience-business {
		float: right;
		width: 33%;
		margin-top: (@v-dflt-spcng / 2);
		margin-bottom: (@v-dflt-spcng / 2);
		margin-left: (@v-dflt-spcng / 2);
		font-size: 0.9rem;
		@media (max-width: @column-floating-threshold) {
			width: 100%;
		}
	}
}

/** ================================================================================================
*** §8: Sidebar Right Sections
**/

.row.side-right.has-graphical-sidebar {
	.column.one {
		@media all {
			@media (min-width: (@column-floating-threshold + 1)) {
				margin-right: 0;
			}
			@media (max-width: @column-floating-threshold) {
				width: 100%;
			}
		}
	}
	.column.two {
		margin-top: 0;
		background-size: cover;
		@media all {
			@media (min-width: (@column-floating-threshold + 1)) {
				position: absolute;
				right: 0;
				width: 36%;
				height: 100%;
			}
			@media (max-width: @column-floating-threshold) {
				width: 100%;
				height: 320px;
			}
		}
	}
}

.ascc-v2 .row.side-right.has-graphical-sidebar {
	.column.two {
		@media all {
			@media (min-width: (@column-floating-threshold + 1)) {
				width: 33%;
				width: ~"calc(33% - 0.5rem)"
			}
		}
	}
}

/** ================================================================================================
*** §9: Styling specific to the Career Exploration Abroad page
**/

body.page.cea {
	.row.article-header {
		.column.one {
			.wrapper {
				font-size: 1.4rem;
			}

			.article-name {
				font-size: 2em;
			}
		}

		.column.two {
			background-color: @hex-white;
			background-size: auto 90%;
			background-repeat: no-repeat;
		}
	}

	#apply-now,
	#contact-us {
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		font-size: 1.5em;
		font-weight: bold;
	}

	#apply-now {
		max-width: 288px;
		margin-bottom: 10px;
	}

	#cea-tagline {
		.column.one {
			padding-bottom: 0;
		}
	}

	#wsu-staffing + .toggled-panel {
		.staff-photo {
			@media all {
				@media (min-width: (@column-floating-threshold + 1)) {
					float: left;
					margin-top: 4px;
					margin-right: 1em;
					margin-bottom: 4px;
				}

				@media (max-width: @column-floating-threshold) {
					display: block;
				}
			}
		}
	}

	#contact-form-wrapper {
		position: fixed;
		top: 10%;
		bottom: 10%;
		max-height: 0;
		padding: 0;
		background-color: @hex-white;
		.getRgbaStr(@hex-black, 0.5);
		box-shadow: 5px 5px 18px @rgba;
		opacity: 0;
		overflow-y: scroll;
		z-index: 99352;
		.transition(~"opacity 0.3s ease");

		@media all {
			@media (min-width: (@spine-threshold + 1)) {
				@spacing: (@v-dflt-spcng / 2 * 5);
				right: @spacing;
				left: @spacing;
				left: ~"calc((100% - 990px) / 2 + 198px + @{spacing})";
			}

			@media (max-width: @column-floating-threshold) {
				@spacing: (@v-dflt-spcng / 2 * 5);
				right: @spacing;
				left: @spacing;
			}

			@media (max-width: @large-mobile-screen-width) {
				@spacing: @v-dflt-spcng;
				right: @spacing;
				left: @spacing;
			}
		}

		&.shown {
			max-height: none;
			opacity: 1;
			padding: @v-dflt-spcng;
		}

		.gform_wrapper {
			margin: 0;
		}

		form {
			padding: 0;
		}

		.gform_title {
			margin-top: 0;
			padding-top: 0;
		}

		.gform_footer {
			padding-bottom: 0;
		}
	}

	#close-contact-form {
		@spacing: (@v-dflt-spcng / 2 * 5);
		@size: (@v-dflt-spcng / 4 * 3);
		@margins: @size / 6;
		@scroll-bar-size: 16px;
		position: fixed;
		top: 11%;
		top: ~"calc(10% + @{margins})";
		right: 6rem;
		right: ~"calc(@{spacing} + @{scroll-bar-size} + @{margins})";
		height: @size;
		padding-left: (@size + @margins);
		padding-left: ~"calc(@{size} + @{margins})";
		padding-right: @margins;
		.has-mono-font;
		font-size: .9rem;
		line-height: 1.4rem;
		text-transform: uppercase;
		background: @hex-darkest-gray url(/wp-content/uploads/sites/167/2017/10/button_close-form_crimson-and-white.jpg) left center/24px auto no-repeat;
		color: @hex-white;
		cursor: pointer;
		z-index: 99353;
	}

	.gform_wrapper {
		.top_label {
			.gfield_description {
				padding-bottom: 0;

				& + div.ginput_container {
					margin-top: 2px;
				}
			}
			li ul.gfield_checkbox,
			li ul.gfield_radio {
				margin-top: 0 !important;

				li {
					margin: 0 !important;
				}
			}
		}
	}
}

/** ================================================================================================
*** §10: Styling of glass buttons
**/

.column a {
	@gb__border-radius: 7px;
	&.recommend-button,
	&.glass-button {
		display:block;
		position: relative;
		padding: 1em;
		border-radius: @gb__border-radius;
		& {
			@shadow-clr: returned;
			.getRgbaForProp(@shadow-clr, @hex-black, 0.5);
			box-shadow: 0 2px 2px @@shadow-clr;
		}
		.transition(~"all 0.3s ease");

		&:hover {
			border-radius: @gb__border-radius;
		}

		&:before {
			content: "";
			position: absolute;
			top: 2px;
			right: 2px;
			left: 2px;
			height: 50%;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			& {
				@color-top: returned; .getRgbaForProp(@color-top, @hex-white, 0.35);
				@color-btm: returned-2; .getRgbaForProp(@color-btm, @hex-white, 0.025);
				background: linear-gradient(@@color-top, @@color-btm);
			}
		}

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			right: 2px;
			left: 2px;
			height: 50%;
			border-bottom-left-radius: 7px;
			 border-bottom-right-radius: 7px;
			& {
				@color-top: returned; .getRgbaForProp(@color-top, @hex-black, 0);
				@color-btm: returned-2; .getRgbaForProp(@color-btm, @hex-black, 0.25);
				background: linear-gradient(@@color-top, @@color-btm);
			}
		}

		&.crimson {
			background-color: @hex-crimson;
			color: white;
			&:hover {
				background-color: @hex-light-crimson;
				& {
					@glow-clr: returned-2; .getRgbaForProp(@glow-clr, @hex-light-crimson, 0.3333);
					box-shadow: 0 0 18px @@glow-clr;
				}
			}
		}

		&.yellow {
			background-color: @hex-accent-yellow;
			color: @hex-black;
			&:hover {
				background-color: #ffde1c;
				& {
					@shadow-clr: returned; .getRgbaForProp(@shadow-clr, @hex-black, 0.25);
					@glow-clr: returned-2; .getRgbaForProp(@glow-clr, #ffde1c, 0.8);
					box-shadow: 0 2px 2px @@shadow-clr, 0 0 18px @@glow-clr;
				}
			}
		}

		.icon {
			&,
			& + .label {
				display: inline-block;
				box-sizing: border-box;
				vertical-align: middle;
			}
			width: 55px;
			padding-right: 1em;
			border: 0;
			box-shadow: none;
			& + .label {
				display: inline-block;
				box-sizing: border-box;
				width: 100%;
				width: ~"calc(100% - 55px - 1em)";
			}
		}
	}
}

/** ================================================================================================
*** §11: Styling of main header construct
**/

.main-header sup span {
	line-height: 1.5em;
}

/** ================================================================================================
*** §12: Gravity forms
**/

.column {
	li.gfield {
		&.uses-rich-editor {
			.tmce-active {
				.mce-menubar {
					display: none;
				}

				.mce-toolbar-grp > .mce-stack-layout {
					& > .mce-toolbar.mce-first {
						.mce-btn {
							&[aria-label="Blockquote"],
							&[aria-label="Insert/edit link"],
							&[aria-label="Remove link"],
							&[aria-label="Insert/edit image"],
							&[aria-label="Table"],
							&[aria-label="Toolbar Toggle"],
							&[aria-label="Fullscreen"] {
								display: none;
							}
						}
					}

					& > .mce-toolbar.mce-last {
						display: none;
					}
				}

				.mce-statusbar {
					display: none;
				}
			}

			iframe {
				width: 100% !important;
			}

			span.gp-word-count-label {
				margin-top: 0 !important;
			}
		}
	}
}

/** ================================================================================================
*** §13: ASCC version 2.0 slideshows
**/

.ascc-v2 {
	.dark-slide-bg() {
		background-color: @rgba;
		.getRgbaStr(@hex-black, 0.85);
		padding: (@v-dflt-spcng / 4);
		padding-bottom: (@v-dflt-spcng / 5);
	}

	.builder-section-banner {
		font-size: 1rem;

		@media screen and (max-width: @column-floating-threshold) {
			font-size: .875rem;
		}		
	}

	.column .builder-banner-content {
		@media screen and (max-width: @column-floating-threshold) {
			//margin-left: (-1 * @v-dflt-spcng);
			//margin-right: (-1 * @v-dflt-spcng);
			border-bottom-width: (@v-dflt-spcng / 2);
			font-size: (@v-p-sz * 7 / 8);
		}
	}

	.builder-banner-inner-content {
		font-size: 1em;
		justify-content: flex-end;

		& > * {
			.dark-slide-bg();
		}
	}

	.builder-banner-inner-title {
		font-size: 1.5em;
	}

	.builder-banner-slide-title {
		.dark-slide-bg();
		line-height: 1.4em;
		line-height: ~"calc(1.4em + .9rem)";
	}

	.column {
		.builder-section-content.cycle-slideshow {
			.builder-banner-content:hover {
				& > div.builder-banner-inner-content {
					background-color: transparent;
				}
			}
		}

		.builder-banner-inner-content {
			background-color: transparent;	
		}
	}

	@media screen and (max-width: 600px) {
		#builder-section-1518023152923 .builder-banner-slide {
			padding-bottom: 320px !important;
		}
	}

	.column .builder-banner-slide {
		&:hover {
			.builder-banner-content {
				font-size: 1.65rem;
			}
		}
	}

	@media all {
		@media (max-width: (@background-width-threshold - 1)) and (min-width: (@spine-threshold + 1)) {
			.column .builder-banner-content {
				font-size: 2.1179vw;
				line-height: 2.8592vw;
			}

			.column .builder-banner-slide:hover .builder-banner-content {
				font-size: 2.8239vw;
				line-height: 3.8122vw;
			}
		}

		@media (max-width: @spine-threshold) and (min-width: (@large-mobile-screen-width + 1)) {
			.column .builder-banner-content {
				font-size: 2.5784vw;
				line-height: 3.4808vw;
			}

			.column .builder-banner-slide:hover .builder-banner-content {
				font-size: 2.83624vw;
				line-height: 3.828924vw;
			}
		}

		@media (max-width: @large-mobile-screen-width) {
			.column .builder-banner-content {
				font-size: 3.5vw;
				line-height: 4.725vw;
			}

			.column .builder-banner-slide:hover .builder-banner-content {
				font-size: 3.85vw;
				line-height: 5.1975vw;
			}
		}
	}
}

/** ================================================================================================
*** §14: Legacy ASCC fixes
**/

body:not(.ascc-v2) {
	.main-header {
		margin: 0 -100%;
		padding: .5em 100%;

		sup:not(.unset),
		sup,
		sub:not(.unset),
		sub {
			font-size: 200%;
		}

		sub:not(.unset) *,
		sub:not(.unset) a, 
		sup:not(.unset) a {
			font-size: inherit;
		}
	}
}

/** ================================================================================================
*** §15: ASCC version 2.0 body
**/

.ascc-v2 {
	body& {
		background: @hex-dark-gray url(/wp-content/uploads/sites/167/2014/11/bright-squares.png) repeat fixed;
	}

	.main-header {
		background: @hex-crimson url(/wp-content/uploads/sites/167/2018/05/background-art_main-header_ascc-v2_1187x142.jpg) right center/cover no-repeat;
	}

	main {
		background: @hex-white;
		border-left: 1px solid @hex-bright-gray;
	}
}

/** ================================================================================================
*** §16: TO BE REMOVED: Temporarily copied from WSU-UE---CSS
**/

.ascc-v2 {
	.for-screen-readers {
		box-sizing: border-box !important;
		height: 0 !important;
		width: 0 !important;
		border: 0 !important;
		overflow: hidden !important;
		opacity: 0 !important;
		&.row {
			margin: 0 !important;
		}
	}
}

/** ================================================================================================
*** §17: ASCC version 2.0 sub-columns
**/

.ascc-v2 {
	.sub-row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.sub-row.halves .sub-column {
		width: 49%;
		width: ~"calc(50% - 2rem)";
	}
}

/** ================================================================================================
*** §18: Helpful links tables
**/

.helpful-links tr + tr td {
	padding-top: 1em;
}

/** ================================================================================================
*** §19: Candid Career Widget on Homepage
**/

// At what screen widths does responsive behavior occur? Need to test using original version of the
// page.
.fluid .row.thirds.our-services--desktop {
	@media all {
		@media (min-width: 1165px) {
			.column.one {
				width: 265px;
			}
			.column.two {
				width: ~"calc(100% - 265px - 195px)";
			}
			.column.three {
				width: 195px;
			}
		}

		@media (max-width: 1164px) {
			display: none;
		}
	}
}

.fluid .row.side-left.our-services--sub-desktop {
	@media all {
		@media (min-width: 1165px) {
			display: none;
		}

		@media (min-width: (@column-floating-threshold + 1px)) {
			background: url(/wp-content/uploads/sites/167/2018/10/background-art_academic-and-career-symbols-pattern_72x72.png) repeat;

			.column.two {
				.padding(@pSize-500mx, "bottom");
			}
		}
	}

	.column {
		background: extract(@colors--grays__hex, @colors__accent);
	}
}

.our-services__button-arrangement--normal {
	@media all {
		@media (max-width: @column-floating-threshold) {
			display: none;
		}
	}
}

.our-services__button-arrangement--mobile {
	.ascc-v2 .sub-row& {
		@media all {
			@media (min-width: (@column-floating-threshold + 1px)) {
				display: none;
			}
		}
	}
}
